n8n/workflow-hh.json
{
  "name": "AutoHQ — HH.ru Job Search",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-hh",
      "name": "Every weekday 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "{{APP_URL}}/api/n8n/hh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "{{WEBHOOK_SECRET}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-config-hh",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://api.hh.ru/vacancies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.keywords.trim().split(/\\s+/).join(' OR ') }}"
            },
            {
              "name": "schedule",
              "value": "remote"
            },
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "order_by",
              "value": "publication_time"
            },
            {
              "name": "currency",
              "value": "USD"
            },
            {
              "name": "date_from",
              "value": "={{ $json.job_lookback_days > 0 ? $now.minus({ days: $json.job_lookback_days }).toFormat('yyyy-MM-dd') : '2000-01-01' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "AutoHQ-JobBot/1.0 (autohq)"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.hh_access_token ? ('Bearer ' + $json.hh_access_token) : undefined }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "page",
                    "value": "={{ $pageCount }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ ($pageCount + 1) >= $response.body.pages }}",
              "limitPagesFetched": true,
              "maxRequestCount": 20,
              "requestInterval": 350
            }
          }
        }
      },
      "id": "http-hh",
      "name": "Fetch HH.ru",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        780,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "split-hh",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        960,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst salary = item.salary;\nlet salaryMin = null;\nlet salaryMax = null;\nif (salary) {\n  salaryMin = salary.from || null;\n  salaryMax = salary.to || null;\n  // Convert RUB to USD roughly if needed\n  if (salary.currency === 'RUR') {\n    if (salaryMin) salaryMin = Math.round(salaryMin / 90);\n    if (salaryMax) salaryMax = Math.round(salaryMax / 90);\n  }\n}\n\n// HH list endpoint has no full description — use the snippet (tags stripped).\nconst description = [item.snippet?.requirement, item.snippet?.responsibility]\n  .filter(Boolean).join(' ')\n  .replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 1500);\n\nreturn {\n  title: item.name,\n  company: item.employer?.name || 'Unknown',\n  url: item.alternate_url,\n  location: item.area?.name || null,\n  remote: true,\n  status: 'new',\n  fit_score: null,\n  salary_min: salaryMin,\n  salary_max: salaryMax,\n  source: 'hh',\n  external_id: String(item.id),\n  description,\n  notes: `Source: HH.ru | ID: ${item.id}`\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "map-hh",
      "name": "Map to AutoHQ format",
      "type": "n8n-nodes-base.code",
      "position": [
        1140,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{APP_URL}}/api/webhook/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "{{WEBHOOK_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "ignore404": false
        }
      },
      "id": "post-hh",
      "name": "Send to AutoHQ",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1680,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "{{APP_URL}}/api/resume?lang=both",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-resume",
      "name": "Get Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "={{>cover-letter}}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "openai-cover",
      "name": "OpenAI Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1320,
        180
      ],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "AutoHQ OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-hh",
      "name": "Combine Job + Letter",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Input is the Map row merged (by position) with the OpenAI response, so both\n// are present on $json — nothing from Map is lost. Pull the letter out of the\n// model response, drop the response fields, keep the job row.\nconst { message, content, text, choices, index, finish_reason, role, ...job } = $input.item.json;\nlet cover_letter = '';\ntry {\n  cover_letter = (message?.content ?? content ?? text ?? choices?.[0]?.message?.content ?? '').toString().trim();\n} catch (e) { /* leave empty on any parse issue */ }\nreturn { ...job, cover_letter };"
      },
      "id": "assemble",
      "name": "Assemble",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ]
    }
  ],
  "connections": {
    "Every weekday 8:00": {
      "main": [
        [
          {
            "node": "Get Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Fetch HH.ru",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HH.ru": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Map to AutoHQ format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to AutoHQ format": {
      "main": [
        [
          {
            "node": "OpenAI Cover Letter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Job + Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Cover Letter": {
      "main": [
        [
          {
            "node": "Combine Job + Letter",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Job + Letter": {
      "main": [
        [
          {
            "node": "Assemble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble": {
      "main": [
        [
          {
            "node": "Send to AutoHQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "autohq"
  ]
}
